{% extends "base.html" %}

{% block content %}
<div class="startscreen">
<h1 id="title">Travel</h1>
</div>

<div class="info">
    <img src="static/ba023b-nomark.jpg" id="flr" style="float: right;">
    <p> Добро пожаловать на сайт, посвященный моим захватывающим путешествиям!
        Здесь вы найдете увлекательные рассказы, фотографии о моих приключениях по всему миру.
        Открывайте для себя удивительные уголки планеты вместе со мной и отправляйтесь в
        незабываемые путешествия прямо из уютного кресла. </p>

</div>

<div class="somehpoto">
   <img src="static/photo_5474621691125684199_y.jpg" class="k">
    <img src="static/photo_5474621691125684200_y.jpg" class="k">
    <img src="static/photo_5474621691125684201_y.jpg" class="k">
</div>

<div class="maper" id="id_maper">

    <img src="static/maper.jpg" id="hj">

</div>

<div class="fromplace">
    <a href="/list_place" class="kl">К местам              -></a>
</div>

{% endblock %}