{% extends "base.html" %}

{% block content %}
<div class="startscreen">
<h1 id="title">Travel</h1>
</div>

<div class="info">
    <img src="static/ba023b-nomark.jpg" id="flr" style="float: right;">
    <p>Мама ушла на занятия женской группы по развитию положительной самооценки. Мужчин туда не пускают. Я спросил у
        папы, что такое положительная самооценка. Он ответил: «Бог его знает, но что бы это ни значило, мне ничего
        хорошего не светит» . (Сью Таунсенд «Женщина, которая легла в кровать на год») </p>

</div>

<div class="somehpoto">
   <img src="static/photo_5474621691125684199_y.jpg" class="k">
    <img src="static/photo_5474621691125684200_y.jpg" class="k">
    <img src="static/photo_5474621691125684201_y.jpg" class="k">
</div>

<div class="maper" id="id_maper">

    <img src="static/maper.jpg" id="hj">

</div>

<div class="fromplace">
    <a href="/list_place" class="kl">К местам              -></a>
</div>

{% endblock %}